*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* root:  */
.mt-top-14{
  margin-top: 14px ;
}
.border-radius-4{
  border-radius:4px;
}
.input-info-color{
  color: #1d1c1c;
}
.option-width-height{
  display: block;
  width: 125px;
  height: 36px;
}
.float-left{
  float: left;
}
.margin-left-54{
  margin-left: 54px;
}
.margin-left-12{
  margin-left: 12px;
}

body{
  background-color: rgb(240, 235, 235);
}
#app{
  display: block;
  height: 586px;
  width: 432px;
  background-color: white;
  margin: 50px auto;
  border-radius: 6px;
  padding: 16px;
}
.register{
  font-size: 32px;
}
.register-description{
  padding: 12px 0;
  color: #606770;
  font-size: 15px;
}


.name-register{
  width: 100%;
}
.name-register input{
  width: 192px;
  height: 40px;
  padding: 4px;
  font-size: 16px;
}
.name-register input:last-child{
  margin-left: 10px;
}
.email-register , .pass-register{
  width: 100%;
  height: 40px;
  padding: 4px;
  font-size: 16px;
}

.date,.gender{
  width: 100%;
  margin-top: 12px;
  float: left;
}

.description-selection{
  margin-bottom: 6px;
}
select {
  float: left;
  margin: 0 4px;
}
.label-option{
  text-align: justify;
  line-height: 28px;
  margin: 4px;
  padding: 4px;
  border: 1px solid #ccc;
}
.desction-register{
  float: left;
  line-height: 1.4;
  margin-top: 10px;
  font-size: 12px;
}
.desction-register a {
  text-decoration: none;
  color: black;
  color: #385898;
}
.desction-register p {
  color: #777 ;
}

.btn-resgister{
  width: 194px;
  height: 36px;
  color: white;
  font-size: 18px ;
  font-weight: 600;
  background-color: #00a400;
  border: none;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 30px;
}
.btn{
  float: left;
  width: 100%;
  text-align: center;
}